$meeting_buttons_background: #5e6364;
$meeting_buttons_radius: 50%;
$control_bar_background: transparent;
$hangup_button_background: #dd3849;

$control_bar_z_index: 3;
$local_video_z_index: 2;
$remote_video_z_index: 1;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$seprator: "_";