<div id="main_container">
  <div>
    <video autoplay id="local_video"></video>
  </div>
  <div>
    <video autoplay id="remote_video"></video>
    <audio autoplay id="remote_audio" hidden></audio>
  </div>
  <div id="control_bar">
    <div [title]="!invite_copied?'Copy invite':'Invite copied'"
      [ngStyle]="{'background-color':!invite_copied?'#5e6364':'#189B55'}" (click)="copy_invite()"
      class="control_button control_button_common ">
      <copy *ngIf="!invite_copied"></copy>
      <check *ngIf="invite_copied"></check>
    </div>
    <div class="control_button control_button_common ml_2" (click)="handle_mic_toggle()"
      [attr.title]="audio_on?'Turn off microphone':'Turn on microphone'">
      <mic-on *ngIf="audio_on"></mic-on>
      <mic-off *ngIf="!audio_on"></mic-off>
    </div>
    <div class="control_button control_button_hangup  ml_2" (click)="leave_meeting()" title="Leave call">
      <terminate-call></terminate-call>
    </div>
    <div class="control_button control_button_common ml_2" (click)="handle_video_toggle()"
      [attr.title]="audio_on?'Turn off video':'Turn on video'">
      <video-on *ngIf="video_on"></video-on>
      <video-off *ngIf="!video_on"></video-off>
    </div>
  </div>
</div>